.nom {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3em;
    text-align: center;
}
.titre {
    font-family: 'Playfair Display', serif;
    font-size: 6em;
    text-align: center
}
.resume {
    font-family: 'Great Vibes', serif;
    font-size: 3em;
    text-align: center
}
.contenu {
    font-family: 'Crimson Text', serif;
    font-size: 2em;
    text-align: justify
}
.section-titre {
    width: 100%;
    text-align: left;
    padding: 10px;
}
.section-text-avant {
    width: 100%;
    text-align: justify;
    padding: 10px;
}
.section-text-apres {
    width: 100%;
    padding: 10px;
    text-align: justify;
}
.section-photo {
    width: 100%;
}
.section {
    width: 100%;
    padding: 0px;
}
.section-container {
    padding: 0px;
}