
<div *ngIf="article">
    <div class="banniere">Shana Cosmetics</div>
   <!--  <div class="categorie-container">
        <span class="categorie-item" *ngFor="let categorie of categories">{{ categorie.nom | uppercase }}</span>
    </div> -->
    <div *ngIf="article.photo" class="spacer-up spacer-down">
        <img class="photo-couverture" [src]="'data:' + article.photoContentType + ';base64,' + article.photo" alt="photo de couverture article"/>
    </div>
    <div class="nom spacer-up">{{ article.nom | uppercase }}</div>
    <div class="titre spacer-up">{{ article.titre }}</div>
    <div class="resume spacer-up">{{ article.resume }}</div>
    <div class="spacer-up offset-md-2 col-md-8 col-s-12 section-container" #sectionCard>
        <mat-card class="section mat-elevation-z8" >
            <div  *ngFor="let section of article.sections; index as i" class="spacer-up">
                <mat-card-header *ngIf="section.titre">
                    <mat-card-title class="section-titre">{{ section.titre }}</mat-card-title>
                </mat-card-header>
                <mat-card-content  *ngIf="section.textAvant" class="section-text-avant" [innerHTML]="section.textAvant"></mat-card-content>
                <div *ngIf="section.photo">
                    <img class="section-photo" [src]="'data:' + section.photoContentType + ';base64,' + section.photo" alt="photo de la section"/>
                </div>
                <div *ngIf="section.idVideo">
                    <iframe width="100%" [height]="getVideoHeight()" [src]="getVideoUrl(i)"></iframe>
                </div>
                <mat-card-content *ngIf="section.textApres" class="section-text-apres" [innerHTML]="section.textApres"></mat-card-content>
            </div>
        </mat-card>
    </div>

    <h2><span jhiTranslate="shanaApp.article.detail.title">Article</span> {{article.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="shanaApp.article.nom">Nom</span></dt>
        <dd>
            <span>{{article.nom}}</span>
        </dd>
        <dt><span jhiTranslate="shanaApp.article.photo">Photo</span></dt>
        <dd>
            <div *ngIf="article.photo">
                <div>{{ article.photoContentType }}</div>
                <a (click)="openFile(article.photoContentType, article.photo)">
                    <img [src]="'data:' + article.photoContentType + ';base64,' + article.photo" alt="article image"/>
                </a>
                {{article.photoContentType}}, {{byteSize(article.photo)}}
            </div>
        </dd>
        <dt><span jhiTranslate="shanaApp.article.titre">Titre</span></dt>
        <dd>
            <span>{{article.titre}}</span>
        </dd>
        <dt><span jhiTranslate="shanaApp.article.position">Position</span></dt>
        <dd>
            <span>{{article.position}}</span>
        </dd>
        <dt><span jhiTranslate="shanaApp.article.positionDansCategorie">Position Dans Categorie</span></dt>
        <dd>
            <span>{{article.positionDansCategorie}}</span>
        </dd>
        <dt><span jhiTranslate="shanaApp.article.dateCreation">Date Creation</span></dt>
        <dd>
            <span>{{article.dateCreation | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="shanaApp.article.dateDerniereModification">Date Derniere Modification</span></dt>
        <dd>
            <span>{{article.dateDerniereModification | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="shanaApp.article.nbVue">Nb Vue</span></dt>
        <dd>
            <span>{{article.nbVue}}</span>
        </dd>
        <dt><span jhiTranslate="shanaApp.article.nbLike">Nb Like</span></dt>
        <dd>
            <span>{{article.nbLike}}</span>
        </dd>
        <dt><span jhiTranslate="shanaApp.article.nbPartage">Nb Partage</span></dt>
        <dd>
            <span>{{article.nbPartage}}</span>
        </dd>
        <dt><span jhiTranslate="shanaApp.article.categorie">Categorie</span></dt>
        <dd>
            <div *ngIf="article.categorieId">
                <a [routerLink]="['/categorie', article.categorieId]">{{article.categorieNom}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
