<div>
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div>
        <h4 class="modal-title" id="myArticleLabel" jhiTranslate="shanaApp.article.home.createOrEditLabel">Create or edit a Article</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div>
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!article.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="article.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shanaApp.article.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="article.nom" required/>
            <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nom?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div>
            <input type="radio" value="new" name="photoRadio" [(ngModel)]="photoRadio" > Nouvelle Photo
            <input type="radio" value="existing" name="photoRadio" [(ngModel)]="photoRadio" > Photo existante
        </div>
        <div *ngIf="photoRadio === 'new'; then newPhoto else existingPhoto"></div>
        <ng-template #newPhoto class="form-group">
            <label class="form-control-label" jhiTranslate="shanaApp.article.photo" for="field_photo">Photo</label>
            <div>
                <img *ngIf="article.photo" [src]="'data:' + article.photoContentType + ';base64,' + article.photo" style="max-height: 100px;" alt="article image"/>
                <div *ngIf="article.photo" class="form-text text-danger clearfix">
                    <span class="pull-left">{{article.photoContentType}}, {{byteSize(article.photo)}}</span>
                    <button type="button" (click)="clearInputImage('photo', 'photoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_photo" (change)="setFileData($event, article, 'photo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="photo" id="field_photo"
                [(ngModel)]="article.photo" />
            <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                [(ngModel)]="article.photoContentType" />
        </ng-template>
        <ng-template #existingPhoto>
            Photo existante
        </ng-template>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shanaApp.article.titre" for="field_titre">Titre</label>
            <input type="text" class="form-control" name="titre" id="field_titre"
                [(ngModel)]="article.titre" required/>
            <div [hidden]="!(editForm.controls.titre?.dirty && editForm.controls.titre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.titre?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shanaApp.article.position" for="field_position">Position</label>
            <input type="number" class="form-control" name="position" id="field_position"
                [(ngModel)]="article.position" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shanaApp.article.positionDansCategorie" for="field_positionDansCategorie">Position Dans Categorie</label>
            <input type="number" class="form-control" name="positionDansCategorie" id="field_positionDansCategorie"
                [(ngModel)]="article.positionDansCategorie" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shanaApp.article.nbVue" for="field_nbVue">Nb Vue</label>
            <input type="number" class="form-control" name="nbVue" id="field_nbVue"
                [(ngModel)]="article.nbVue" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shanaApp.article.nbLike" for="field_nbLike">Nb Like</label>
            <input type="number" class="form-control" name="nbLike" id="field_nbLike"
                [(ngModel)]="article.nbLike" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shanaApp.article.nbPartage" for="field_nbPartage">Nb Partage</label>
            <input type="number" class="form-control" name="nbPartage" id="field_nbPartage"
                [(ngModel)]="article.nbPartage" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shanaApp.article.categorie" for="field_categorie">Categorie</label>
            <select class="form-control" id="field_categorie" name="categorie" [(ngModel)]="article.categorieId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="categorieOption.id" *ngFor="let categorieOption of categories; trackBy: trackCategorieById">{{categorieOption.nom}}</option>
            </select>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-secondary" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
</div>