/* ==========================================================================
iccorp style
========================================================================== */
.article-image {
    width: 100%;
}
.article-card {
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}
.article-desc-left {
    text-align: left;
}
.article-desc-rigth {
    text-align: right;
}
.article-desc-center {
    text-align: center;
}
.nom-desc {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    text-decoration: underline;
}
.titre-desc {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
}
.resume-desc {
    font-family: 'Great Vibes', serif;
    font-size: 3em;
    margin-top: 2em;
}

.desc-container {
    padding: 1.5em;
}

.btn-desc {
    color:  black;
    background-color: white;
    border: 1px solid black;
    min-width: 30px;
    cursor: pointer;
}
.btn-desc:hover {
    color:  white;
    background-color: black ;
    border: 1px solid black;
}
/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

