
<div *ngIf="abonne">
    <h2><span jhiTranslate="shanaApp.abonne.detail.title">Abonne</span> {{abonne.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="shanaApp.abonne.pseudo">Pseudo</span></dt>
        <dd>
            <span>{{abonne.pseudo}}</span>
        </dd>
        <dt><span jhiTranslate="shanaApp.abonne.email">Email</span></dt>
        <dd>
            <span>{{abonne.email}}</span>
        </dd>
        <dt><span jhiTranslate="shanaApp.abonne.motDePasse">Mot De Passe</span></dt>
        <dd>
            <span>{{abonne.motDePasse}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'abonne/'+ abonne.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
